.formConteiner{
    display: flex;
    justify-content: center;
    width: 100%;
}

.form {
    display: block;
    width: 100%;
}

.input {
    color: antiquewhite;
    background-color: rgb(36, 35, 35);
    border: none;
    display: block;
    border-radius: 3px;
    width: 100%;

}

.textarea{
    color: antiquewhite;
    background-color: rgb(36, 35, 35);
    display: block;
    border: none;
    border-radius: 5px;
    min-width: 100%;
    min-height: 15vh;

}
.button{
width: 100%;
}