.title{
    margin: 0;
    font-size: 28px;
}
.author{
    margin: 0;
    font-size: 12px;
}
.date{
    margin: 0;
    font-size: 13px;
    color: rgb(171, 171, 171);
}

.desc{
    font-size: 14px;
    text-align: justify;
    margin-left: 10px;
}

.card{
    background-color: rgb(26, 25, 25);
    width: 300px;
    border: solid black 1px;
    border-radius: 10px;
    margin: 20px

}

.cardContent{
    margin-left: 20px;
}